.dateBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  font-weight: 600;
  color: var(--dark);
  padding-top: 1em;
  border-bottom: 1px solid var(--light-gray);
  border-left: 0.5px solid var(--light-gray);
  border-right: 0.5px solid var(--light-gray);
}
.dateBox > p {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.dateActive {
  height: 24px;
  width: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 50%;
  margin-top: -8px;
}
