.haeder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  padding: 0 4% 20px;
}
.arrow {
  display: flex;
  gap: 10px;
}
.arrow > svg {
  height: 12px;
}
.day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 20px;
}
